{% extends "base.html" %}

{% block content %}

<h1>
🏊 Recommended Workout Plans
</h1>

<p style="opacity:0.7;">
Choose a workout based on your swimming goal.
</p>


<div class="row g-4">


<div class="col-md-6">

<div class="card p-4">

<h3>
⚡ Speed Training
</h3>

<p>
Focus: Sprint and race pace
</p>

<hr>

<ul>

<li>400m warm up</li>

<li>8 × 50m sprint</li>

<li>10 × 100m race pace</li>

<li>200m cool down</li>

</ul>

<h5>
Total: 2400m
</h5>

</div>

</div>




<div class="col-md-6">

<div class="card p-4">

<h3>
🌊 Endurance Training
</h3>

<p>
Focus: Building stamina
</p>

<hr>

<ul>

<li>600m warm up</li>

<li>5 × 400m freestyle</li>

<li>8 × 50m technique drills</li>

<li>300m cool down</li>

</ul>

<h5>
Total: 3500m
</h5>

</div>

</div>




<div class="col-md-6">

<div class="card p-4">

<h3>
🎯 Technique Training
</h3>

<p>
Focus: Better form
</p>

<hr>

<ul>

<li>400m easy swim</li>

<li>8 × 50m drills</li>

<li>6 × 100m perfect technique</li>

<li>200m cool down</li>

</ul>

<h5>
Total: 2200m
</h5>

</div>

</div>




<div class="col-md-6">

<div class="card p-4">

<h3>
🏆 Race Preparation
</h3>

<p>
Focus: Competition
</p>

<hr>

<ul>

<li>500m warm up</li>

<li>6 × 100m race pace</li>

<li>12 × 25m sprint</li>

<li>300m cool down</li>

</ul>

<h5>
Total: 2600m
</h5>

</div>

</div>


</div>


{% endblock %}